@import "@/src/styles/variables";

.footerContainer {
  div {
    background: $color-footer-gradient;
  }
  * p {
    margin: 0.5rem;
    font-size: 1.2rem;
    color: $color-text;
    padding: 0.5rem;
  }

  background: $color-footer-gradient;
  color: $color-content-bg;

  margin-top: 2rem;
}
