@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #daddd8;
}

header,
footer {
  div {
    background-color: #eef0f2;
  }
  color: red;
  * {
    color: orange;
  }
  width: 100%;
  position: absolute;
  padding: 1em;
  border: 1px solid #eef0f2;
}

a {
  text-decoration: underline blue;
  padding-bottom: 5px;
  &:hover {
    text-decoration: dashed underline blue;
  }
}

p {
  color: #1c1c1c;
}

p,
a {
  font-size: 1.2rem;
}
