@import "@/src/styles/variables";

body {
  background-color: $color-bg;
}

header,
footer {
  div {
    background-color: #eef0f2;
  }
  width: 100%;
  position: absolute;
  padding: 1em;
}

a {
  text-decoration: underline $color-link;
  padding-bottom: 5px;
  &:hover {
    text-decoration: dashed underline $color-link;
  }
}

p,
h1,
h2 {
  color: $color-text;
}

p,
a {
  font-size: 1.2rem;
}
