@import "@/src/styles/variables";

body {
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  width: 100%;
  padding: 1em;
}

a {
  text-decoration: underline $color-link;
  padding-bottom: 5px;
  &:hover {
    text-decoration: dashed underline $color-link;
  }
}

p,
h1,
h2 {
  color: $color-text;
}

p,
a {
  font-size: 1.2rem;
}

main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  flex-shrink: 0;
}
